@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Libre+Baskerville:wght@700&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Libre+Baskerville:wght@700&family=Poppins:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Hind+Siliguri:wght@300&family=Libre+Baskerville:wght@700&family=Poppins:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Hind+Siliguri:wght@300&family=Libre+Baskerville:wght@700&family=Poppins:wght@300&family=Quicksand:wght@300&family=Smooch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar starts */
.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
    color: purple !important;
}

.navbar1 {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: 5rem;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;

}

nav ul li a {
    color: black;
    font-size: 15px;
}

nav ul li a:hover {
    color: blue;
    cursor: pointer;

}

.menu {
    width: 80%;
    margin: auto;
}

ul li a:hover {
    color: rgb(16, 155, 219) !important;
}

/* navbar ends */
.hero {
    background-image: url(./image/img4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.text {
    font-size: 380%;
    width: 59%;
    font-family: 'Quicksand', sans-serif;
}

.text1 {
    font-size: 100%;
}

.button1 {
    border-radius: 1px !important;
    background-color: rgb(251, 109, 58) !important;
    box-shadow: 0px 5px 13px 3px rgb(231 73 16 / 89%);
    padding-right: 3%;
    padding-left: 3%;

    border: none;
}

.button1:hover {
    background-color: rgb(16, 155, 219) !important;
    box-shadow: 0px 5px 13px 3px rgb(16, 155, 219);
    ;
}

.button2 {
    background-color: rgb(231, 73, 16);
    border: none;


    font-weight: 600;
    box-shadow: 0px 5px 13px 3px rgb(231 73 16 / 89%);
    border-radius: 50%;

}

.button2:hover {
    background-color: rgb(16, 155, 219);
    box-shadow: 0px 5px 13px 3px rgb(16, 155, 219);
}

.button3:hover {
    color: rgb(231, 73, 16) !important;

}

.section1 {
    background-image: url(./image/img5.jpg);
    /* min-height: 1000px; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.877);
}

.section1 .img {
    border-radius: 40px 0px 40px 0px;
    box-shadow: -10px 5px 10px rgba(1, 41, 21, 0.822);
    ;

    width: 90%;
    height: 35rem;
}

.img1 img {
    width: 30%;
    height: 7rem;
    position: relative;
    top: 8rem;
    left: 2rem;
    border-radius: 10px;
}

.img2 img {
    width: 40%;
    height: 13rem;
    position: relative;
    top: 8.2rem;
    right: 20px;
    border-radius: 10px;
}

.img3 img {
    width: 40%;
    height: 13rem;
    position: relative;
    left: 12.3rem;
    bottom: 20rem;
    border-radius: 10px;
}

.img4 img {
    width: 30%;
    height: 7rem;
    position: relative;
    left: 12.4rem;
    bottom: 19.7rem;
    border-radius: 10px;
}

.section3 .mess {
    text-align: center;

    background-image: url(./image/img18.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 255, 0.164);
    height: 20rem;
    width: 100%;

    color: white;
    border-radius: 10px;
}

.play {
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.048);
    color: white;
    border: 2px solid white;
}

.newsInput button {
    background-color: orangered;
    border: none;
}

.newsInput button:hover {
    background-color: rgb(211, 58, 3);

}

.section5 {
    background-image: url(./image/img13.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;

}

/* moving images */
.con {
    position: relative;
    width: 100%;
    height: auto;
}

.imgg {
    display: block;
    width: 100%;
    height: 12.5rem;
}

.overlay {
    position: absolute;

    bottom: 100%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: .5s ease;
    background-color: rgba(21, 10, 66, 0.281);
}

.con:hover .overlay {
    bottom: 0;
    height: 100%;
    cursor: pointer;
}

.hello {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* moving images end */




iframe {
    width: 100%;
}

.word {
    color: rgb(6, 37, 122);
    font-family: 'Libre Baskerville', serif;
}

.word1 {
    font-size: 80%;
    color: rgb(182, 179, 179);
}

.word11 {
    font-size: 100%;
    color: rgb(182, 179, 179);
}

.cost {
    font-family: cursive;

}

.explore button {
    margin-left: 40%;
    box-shadow: 0px 5px 13px 3px rgb(231 73 16 / 89%);
    border: none;
    align-items: center;
}

.box {
    box-shadow: 0px 5px 10px #eee;
}

.box:hover {
    cursor: pointer;
    box-shadow: 3px 7px 5px 7px rgb(231, 230, 230);
    ;
    ;
    transition: 0.4s;
}

.box1 .ham {
    font-family: 'Libre Baskerville', serif;
    color: navy;
}

.mid {
    box-shadow: -2px 1px 2px gainsboro;
}

.best h3 {
    width: 100%;
    font-family: 'Libre Baskerville', serif;
}

.box3 h3 {
    width: 90%;
    font-family: 'Libre Baskerville', serif;
    color: rgb(2, 36, 63)
}

.icon p {
    color: rgb(182, 179, 179);
}

.ico {
    font-size: 300%;
    position: relative;
    left: 5%;


}

.line {
    background-color: rgb(212, 211, 211);
    height: 1px;
    width: 60%;
}

@media (max-width:1199px) {
    .img1 img {
        width: 30%;
        height: 7rem;
        position: relative;
        top: 8rem;
        left: 1.5rem;
        border-radius: 10px;
    }

    .img2 img {
        width: 40%;
        height: 13rem;
        position: relative;
        top: 8.2rem;
        right: 20px;
        border-radius: 10px;
    }

    .img3 img {
        width: 40%;
        height: 13rem;
        position: relative;
        left: 10.3rem;
        bottom: 20rem;
        border-radius: 10px;
    }

    .img4 img {
        width: 30%;
        height: 7rem;
        position: relative;
        left: 10.3rem;
        bottom: 19.7rem;
        border-radius: 10px;
    }

    .text {
        width: 60%;
    }
}

@media (max-width:991px) {
    .imm {
        display: none;
    }

    .text {
        width: 80%;
    }

    .best {
        /* text-align: center; */
        width: 100%;
    }
}

@media (max-width:767px) {
    .box3 {
        position: relative;
        top: 20px;
    }
}

@media (max-width:588px) {
    .text {
        width: 100%;
    }
}

@media (max-width:407px) {
    .bnt .button3 {
        display: block;
        margin-bottom: 15px;
        margin-top: 10px;
    }
}

@media (max-width:425px) {
    .text {
        font-size: 250%;
        width: 100%;
    }
}

@media (max-width:575px) {
    .box1 {
        margin-bottom: 20px;
    }

    .explore button {
        align-items: center;
        margin-left: 30%;
    }

}

@media (max-width:362px) {
    .explore button {
        margin-left: 25%;
    }
}

@media (max-width:280px) {
    .text {
        width: 100%;
        font-size: 35px;
    }

    .text1 {
        font-size: 10px;

    }
}